ul#css3menu5{
	margin:0;list-style:none;padding:0 3px 5px;background-color:#597FA8;border-width:2px;border-style:solid;border-color:#FFF;-moz-border-radius:7px;-webkit-border-radius:7px;border-radius:7px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#css3menu5 li{
	display:block;white-space:nowrap;font-size:5;}
ul#css3menu5>li{
	margin:5px 0 0;}
ul#css3menu5 a:active, ul#css3menu5 a:focus{
	outline-style:none;}
ul#css3menu5 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:14px Trebuchet MS;color:#FFF;cursor:pointer;padding:15px;background-color:#424542;background-image:none;background-repeat:repeat;border-width:1px 0 0 0;border-style:solid;border-color:#424542;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
ul#css3menu5 li:hover>a,ul#css3menu5 a.pressed{
	background-color:#597FA8;border-color:#424542;border-style:solid;color:#FFF;text-decoration:none;background-image:url("mainbk.png");}
ul#css3menu5 img{
	border:none;vertical-align:middle;margin-right:4px;}
ul#css3menu5 img.over{
	display:none;}
ul#css3menu5 li:hover > a img.def{
	display:none;}
ul#css3menu5 li:hover > a img.over{
	display:inline;}
ul#css3menu5 li a.pressed img.over{
	display:inline;}
ul#css3menu5 li a.pressed img.def{
	display:none;}
ul#css3menu5 li:hover>a,ul#css3menu5 li>a.pressed{
	background-color:#ffa202;background-image:url("mainbk.png");border-style:solid;border-color:#424542;color:#FFF;text-decoration:none;}
ul#css3menu5 li.topfirst>a{
	border-width:0;}
