ul#css3menu4{
	margin:0;list-style:none;padding:0;background-color:#dedede;border-width:1px;border-style:solid;border-color:#5f5f5f;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;
	*display:inline;}
ul#css3menu4 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu4>li{
	margin:0;}
* html ul#css3menu4 li a{
	display:inline-block;}
ul#css3menu4 a:active, ul#css3menu4 a:focus{
	outline-style:none;}
ul#css3menu4 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font:bold 14px Trebuchet MS;color:#000000;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-color:#c1c1c1;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 0;border-width:0 0 0 1px;border-style:solid;border-color:#C0C0C0;}
ul#css3menu4 li:hover>a,ul#css3menu4 a.pressed{
	background-color:#f8ac00;border-color:#C0C0C0;border-style:solid;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 1px;background-image:url("mainbk.png");background-position:0 100px;}
ul#css3menu4 img{
	border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu4 img.over{
	display:none;}
ul#css3menu4 li:hover > a img.def{
	display:none;}
ul#css3menu4 li:hover > a img.over{
	display:inline;}
ul#css3menu4 li a.pressed img.over{
	display:inline;}
ul#css3menu4 li a.pressed img.def{
	display:none;}
ul#css3menu4 li:hover>a,ul#css3menu4 li>a.pressed{
	background-color:#f8ac00;background-image:url("mainbk.png");background-position:0 100px;border-style:solid;border-color:#C0C0C0;color:#000000;text-decoration:none;text-shadow:#FFF 0 0 1px;}
ul#css3menu4 li.topfirst>a{
	border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu4 li.toplast>a{
	border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;}
